.container__content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.content__title {
  text-decoration: none;
}

.content__cover > img{
  border:5px solid rgb(144, 144, 144);
  border-radius: 5px;
  width: 700px;
  min-width: 700px;
}

.content__description{
  width: 700px;
  min-width: 700px;
}

.content__description > p{
  color: rgb(198, 197, 197);
  margin-bottom: 30px;
}

